/*

Example to customize the title/menu/footer font

*/

body {
    /* background: #2d6588 url(../img/vlcsnap-00015.png) no-repeat fixed center center !important; */
    background-size: cover !important;
    font-family: Courier, Arial, serif !important;
    font-size: 16px;
    background-color: #66afe9 !important;
}

header {
    font-family: Courier, Arial, serif !important;
}

footer {
    font-family: Courier, Arial, serif !important;
}

/*header a:hover, header a:visited, header a:link, header a:active {*/
/*    color: #9E9E9E !important;*/
/*}*/

.btn {
    border-radius: 8px !important;
}

.btn-primary {
    color: black !important;
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
}

.btn-success {
    color: black !important;
    background-color: gainsboro !important;
    border-color: gainsboro !important;
}

.btn-danger {
    color: black !important;
    background-color: lightgray !important;
    border-color: lightgray !important;
}   

.tile {
    border-radius: 5px !important;
}

.menu {
    font-size: small !important;
}